<h1>All Events</h1>

<ul>
  <% @events.each do |event| %>
    <li>
      <%= link_to event.name, event %>
    </li>
  <% end %>
</ul>


<% if user_signed_in? %>

    <%= link_to 'View Profile', user_path(current_user) %>
    <%= link_to "New Event", new_event_path %>
  <%= button_to 'Sign Out', destroy_user_session_path, method: :delete %>
  <% else %>
  <%= button_to 'Sign In', new_user_session_path, method: :get  %>
<% end %>


